<div class="container">
  <h1>Stupid Coaching</h1>

  <form action="/answer">
    <div>
      <input type="text" name="question" placeholder="Insert your question">
      <input type="submit" value="Ask!">
    </div>
  </form>

<div>
